* {
    box-sizing: border-box;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(192, 188, 188, 0.39);
    color: white;
}


header {
    background-color: rgba(19, 18, 18, 0.596);
    font-size: 18px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

header li {
    display: block;
    float: left;
    margin-left: 20px;
}

header a {
    display: block;
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 30px 40px;
}

.content a{
    display: block;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column_left {
    flex: 20%;
    background-color: rgba(0, 0, 0, 0.226);
    min-height: 39vw;
    overflow-y: auto;
}

.column_right {
    flex: 80%;
    color: black;
    padding: 30px;
}

ul {
    list-style-type: none;
    padding: 10px 20px;
}


footer {
    background-color: rgba(19, 18, 18, 0.596);
    padding: 36.5px;
    text-align: center;
}

.collapsible {
    background-color: rgba(19, 18, 18, 0.596);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    color: white;
    text-align: none;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    width: 100%;
    overflow: hidden;
    display: none;
    background-color: #f1f1f1e8;
}

.task {
    color: black;
}

.task li {
    padding: 5px;
}

.module {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 5px;

}

.collapsible1 {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    color: white;
    display: none;
    text-align: none;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content1 {
    padding: 0 18px;
    width: 100%;
    overflow: hidden;
}

.column_right p {
    padding: 20px 0px;
    line-height: 30px;
}

.task a {
    display: block;
    color: black;
}

.show_content {
    font-size: 50px;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.226);
}

@media (max-width: 850px) {
    ul {
        flex-direction: column;
        padding: 0px 0px;
        text-align: center;
    }

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .row {
        flex-direction: column;
        padding-top: 54px;
    }

    .collapsible1 {
        display: block;
        background-color: #555;
    }

    .content1{
        background-color: rgb(105, 102, 102);
        display: none;
    }

    nav{
        position: fixed;
        width: 100%;
    }

    button {
        flex-wrap: wrap;
        font-weight: bold;
    }

    .fa_menu {
        display: inline-block;
        float: left;
    }

    .icon_right {
        display: inline-block;
        float: right;
        padding-right: 10px;
    }

    .show_content {
        font-size: 25px;
    }
    
    .column_left{
        min-height: auto;
    }
    .content a{
        display: block;
        width: 100%;
        text-decoration: none;
        cursor: pointer;
    }
}