.column_right .right_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
}

.column_right section {
    width: 65%;
    display: table;
    margin-right: auto;
    margin-left: auto;
}

.column_right * {
    box-sizing: border-box;
}

/*body{
    display: table;
    margin-right: auto;
    margin-left: auto;
    width: 65%;
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
}*/

.column_right h2 {
    margin-bottom: 40px;
    font-size: 20px;
}

.column_right .new_topic {
    margin: 30px 0px;
}

.column_right .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.column_right .clearfix {
    background-color: #FF8800;
    width: 100%;
}

.column_right .box1 {
    float: left;
    width: 30.5%;
    border: 5px solid black;
    padding: 70px;
    margin: 10px;
}

.column_right .box2 {
    width: 30%;
    padding: 70px;
    margin: 10px;
    background-color: #FF8800;
}

.column_right h3 {
    text-align: center;
}

.column_right .static_box {
    position: static;
}

.column_right .relative_box {
    position: relative;
}

.column_right .fixed_box {
    position: fixed;
    top: 500px;
    left: 1000px;
    width: 15%;
}

.column_right .absolute_box {
    position: absolute;
    top: 790px;
    width: 18.1%;
}

.column_right .scroll {
    margin-top: 250px;

}

.column_right .scroll_content {
    width: 400px;
    height: 400px;
    background-color: #FF8800;
    border: 3px solid white;
    border-radius: 10px;
    overflow-y: scroll;
    padding: 20px;
    margin-bottom: 50px;
}