* {
    box-sizing: border-box;
}

body{
    background-color: rgb(198, 204, 209);
}

.grid-container{
    margin: 20px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 20px;
}

.grid-iteam{
    padding: 0px 20px;
    min-height: 365px;
    background-color: white;
}

.grid-iteam>h1{
    font-size: 20px;
}

.grid-iteam>p{
    color: #007185;
}

.sub-grid-container1{
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 5px;
}

.sub-grid-container1 img{
    width: 100%;
}

.sub-grid-iteam>p{
    padding: 5px 0px;
    margin: 0px;
    text-align: center;
}


.sub-grid-container2{
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 5px;
    justify-items: center;
}

.sub-grid-container2 img{
    width: 90%;
}

.sub-grid-container3{
    display: grid;
    justify-items: center;
}

.sub-grid-container3 img{
    width: 100%;
}

.sub-grid-container4{
    display: grid;
    justify-items: center;
}

.sub-grid-container4 img{
    width: 80%;
}

.grid-iteam-sub{
    display: grid;
    flex-wrap: wrap;
    grid-template-rows: 35% 65%;
    margin: 0px 0px;
    min-height: 365px;
}

.sub-iteam1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    padding: 20px 20px;
    background-color: white;
}

.sub-iteam1>h1{
    font-size: 20px;
}

.sub-iteam1>a{
    background: #FFD814;
    border-color: #FCD200;
    padding: 5px 80px;
    border-radius: 7.5px;
}

.sub-iteam2{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-items: end;
}

.sub-iteam2 img{
    width: 75%;
}

@media only screen and (max-width:400px) {
    .grid-container{
        margin: 20px;
        display: grid;
        grid-template-columns: 95%;
        gap: 20px;
    }
    .sub-iteam2 img{
        width: 70%;
    }
    .grid-iteam-sub{
        grid-template-rows: 43% 57%;
    }
}

@media only screen and (min-width:401px) and (max-width:600px) {
    .grid-container{
        margin: 20px;
        display: grid;
        grid-template-columns: 95%;
        gap: 20px;
    }
    .sub-iteam2 img{
        width: 55%;
    }
    .grid-iteam-sub{
        grid-template-rows: 30% 70%;
    }
}

@media only screen and (min-width:601px) and (max-width:768px) {
    .grid-container{
        margin: 20px;
        display: grid;
        grid-template-columns: 48% 48%;
        gap: 20px;
    }
    .sub-iteam2 img{
        width: 68%;
    }
    .grid-iteam-sub{
        grid-template-rows: 42% 58%;
    }
}

@media only screen and (min-width:769px) and (max-width:992px){
    .grid-container{
        margin: 20px;
        display: grid;
        grid-template-columns: 48% 48%;
        gap: 20px;
    }
    .sub-iteam2 img{
        width: 68%;
    }
    .grid-iteam-sub{
        grid-template-rows: 35% 65%;
    }
}

@media only screen and (min-width:993px) and (max-width:1310px){
    .grid-container{
        margin: 20px;
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        gap: 20px;
    }
    .sub-iteam2 img{
        width: 80%;
    }
    .grid-iteam-sub{
        grid-template-rows: 42% 58%;
    }
}