.column_right .right_content{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column_right * {
    box-sizing: border-box;
}

.column_right table {
    width: 30%;
    height: 80%;
    padding: 50px 30px;
    border-radius: 30px;
    color: white;
    background-color: black;
    box-shadow: 0 0 10px red, 0 0 30px red, 0 0 50px red;
}

.column_right img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red;
}

.column_right .center {
    display: flex;
    text-align: center;
    justify-content: center;
}

.column_right .width {
    width: 100%;
    border-bottom: 5px solid red;
    border-left: none;
    border-right: none;
    border-top: none;
    height: 30px;
    padding: 10px;
    background-color: black;
    color: white;
}

.column_right .width:focus {
    box-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 10px blue, 0 0 20px blue, 0 0 25px blue;
    border: none;
    border-radius: 20px;
    outline: none;
}

.column_right input[type="submit"],
tr td a {
    width: 50%;
    align-items: center;
    height: 25px;
    border-radius: 20px;
    border: none;
    background-color: blue;
    color: white;
    display: inline-block;
    text-decoration: none;
    outline: none;
    margin-top: 20px;
}

.column_right input[type="submit"]:hover,
tr td a:hover {
    background-color: red;
    box-shadow: 0 0 20px red;
}

.column_right input[type="submit"]:active,
tr td a:active {
    box-shadow: 0 0 20px white, 0 0 40px white, 0 0 60px white;
    background-color: black;
}