.column_right .right_content{
    background-color: rgba(0, 0, 0, 0.842);
    width: 95%;
}

.column_right * {
    box-sizing: border-box;
}


.column_right header {
    position: static;
    margin: -8px;
    background-color: rgba(19, 18, 18, 0.849);
    color: white;
}

.column_right nav ul{
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 10px 15px;
}

.column_right nav li {
    float: left;
}

.column_right nav li a {
    display: block;
    padding: 20px;
}

.column_right nav li a:hover:not(.active) {
    background-color: #111;
  }
  
  .column_right .active {
    background-color: #04AA6D;
  }

  .column_right section {
      padding: 30px;
      color: white;
  }

  .column_right table {
    width: 80%;
    height: 35%;
    margin-left: 140px;
}

.column_right caption {
    font-size: 20px;
    margin-bottom: 20px;
}


.column_right .centet {
    margin-left: auto;
    margin-right: auto;
}

.column_right table, th, td {
    border-bottom: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    background-color: rgba(59, 58, 58, 0.829);
  }

  .column_right th {
    background-color: #FF8800;
}

.column_right tr {
    height: 40px;
}

.column_right h3 {
    text-align: center;
    margin-bottom: 30px;
}

.column_right .block {
    width: 83%;
    display: inline-table;
    margin-left: 270px;
}

.column_right .left {
    width: 50%;
    display: inline-block;
}

.column_right .right {
    width:50%;
    display : inline-block;
}
.column_right .news {
    width: 77%;
    margin-left: 140px;
}

.column_right .logout {
    text-decoration: none;
    color: white;
}