body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5;
}
/* Login Section */
  #registration {
    display: flex;
    justify-content: center;
}
.form-part{
    display: flex;
}
.card {
    margin-top: 30px;
    width: 800px;
    padding: 10px;
    box-shadow: -2px 3px 19px -2px rgba(0, 0, 0, 0.55);
}
.card-header h4 {
    text-align: center;
    color: #3f3f3f;
    line-height: 2;
    border-bottom: 2px solid #3f3f3f;
}
.row {
    display: block;
    margin-left: 10px;
    width: 100%;
    margin-bottom: 5px;
    line-height: 2;
}
.row button {
    margin-top: 10px;
}
.card-footer {
    margin-top: 20px;
    color: gray;
    text-align: center;
    border-top: 2px solid #3f3f3f;
}
.card-footer a,span {
    text-decoration: none;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
}
.card-footer a:hover {
    color: #757575;
}
.row label {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
}
.input-control {
    display: block;
    padding: 5px;
    width: 90%;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
}
.btnSignup {
    background-color: #607d8b;
    padding: 8px;
    color: white;
    border: 1px solid #607d8b;
    border-radius: 5px;
    font-size: 14px;
}
.btnSignup:hover {
    background-color: #455a64;
    color: whitesmoke;
}

@media screen and (max-width: 600px) {
    .form-part {
      display: block;
    }
  }