<h4 class="text-center text-secondary text-uppercase">Product List</h4> <hr/>
<table class="table table-responsive table-striped" aria-label="Products">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Quantity</th>
            <th>Product Actual Amount</th>
            <th>Discount</th>
            <th>Product Discount Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of list">
            <td>{{i.name}}</td>
            <td>{{i.qty}}</td>
            <td>{{i.amount}}</td>
            <td>{{i.discount}}</td>
            <td>{{i.totals}}</td>
        </tr>
    </tbody>
</table>