.column_right .right_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
  }

.column_right * {
    box-sizing: border-box;
}

.column_right .body{
    width: 80%;
    display: table;
    margin-right: auto;
    margin-left: auto;
}

.column_right section{
    margin: 50px 0px;
}

.column_right .task1 div{
    width: 200px;
}

.column_right .task2 div{
    width: 200px;
    border: 2px solid red;
}

.column_right .task3 div{
    width: 200px;
    border: 2px solid red;
    padding: 25px;
}

.column_right .task4 div{
    width: 200px;
    border: 2px solid red;
    padding: 25px;
    margin-left: 25px;
}

.column_right .task5 .flex-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #FF8800;
    max-width: 70%;
}

.column_right .box{
    display: flex;
    padding: 50px;
    border: 5px solid black;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.column_right h1{
    margin-bottom: 20px;
}

.column_right .task6 .flex-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #FF8800;
    flex-direction: row-reverse;
    max-width: 52.6%;
}

.column_right .task7 .flex-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #FF8800;
}

.column_right .img_row{
    flex: 25%;
}
