* {
    box-sizing: border-box !important;
    margin: 0px !important;
    font-family: Arial, Helvetica, sans-serif ;
}

body {
    background-color: rgba(192, 188, 188, 0.39) !important;
    color: white !important;
}


header {
    background-color: rgb(90, 89, 89) !important; /*rgb(75, 73, 73)*/
    font-size: 18px !important;
    position: fixed !important;
    top:0 !important;
    width: 100% !important;
    z-index: 100 !important;
}

header ul {
    display: flex !important;
    flex-wrap: wrap !important;
    list-style-type: none !important;
    padding: 10px 0px;
}

header li {
    display: block !important;
    float: left !important;
    margin-left: 20px !important;
}

header a {
    display: block !important;
    text-decoration: none !important;
    color: white !important;
    cursor: pointer !important;
    padding: 30px 40px !important;
}

.content a{
    display: block !important;
    text-decoration: none !important;
    color: white !important;
    cursor: pointer !important;
}

.row {
    display: flex !important;
    flex-wrap: wrap !important;
    padding-top: 101px !important;
}

.column_left {
    position: fixed !important;
    width: 20% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.226) !important;
}

.column_right {
    position: absolute !important;
    right: 0 !important;
    width: 80% !important;
    color: black !important;
    margin: 15px 0px 0px 0px !important;
    padding: 0px !important;
}

.right_content{
    min-height: 40.4vw !important;
    padding: 20px !important;
}

.column_left ul {
    list-style-type: none !important;
    padding: 10px 20px !important;
}


footer {
    background-color: rgba(19, 18, 18, 0.596) !important;
    padding: 0px 36.5px !important;
    text-align: center !important;
    margin: 0px !important;
    color: white !important;
}

.collapsible {
    background-color: rgba(19, 18, 18, 0.596) !important;
    cursor: pointer !important;
    padding: 18px !important;
    width: 100% !important;
    border: none !important;
    color: white !important;
    text-align: none !important;
    outline: none !important;
    font-size: 15px !important;
}

.content {
    padding: 0 18px !important;
    width: 100% !important;
    overflow: hidden !important;
    display: none;
    background-color: #f1f1f1e8 !important;
}

.task {
    color: black !important;
}

.task li {
    padding: 5px !important;
}

.module {
    display: flex !important;
    flex-wrap: wrap !important;
    margin: 10px 5px !important;

}

.collapsible1 {
    cursor: pointer !important;
    padding: 18px !important;
    width: 100% !important;
    border: none !important;
    color: white !important;
    display: none;
    text-align: none !important;
    outline: none !important;
    font-size: 15px !important;
}

.active, .collapsible:hover {
    background-color: #555 !important;
}

.content1 {
    padding: 0 18px !important;
    width: 100% !important;
    overflow: hidden !important;
}

.column_right p {
    padding: 20px 0px !important;
    line-height: 30px !important;
}

.task a {
    display: block !important;
    color: black !important;
}

.show_content {
    font-size: 50px !important;
}

header li:hover {
    background-color: rgba(0, 0, 0, 0.226) !important;
}

ol{
    padding: 10px 20px !important;
}

@media (max-width: 850px) {
    .column_left ul, nav ul {
        flex-direction: column !important;
        padding: 0px 0px !important;
        text-align: center !important;
    }

    .column_left li {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        padding: 10px !important;
    }

    .row {
        flex-direction: column !important;
        padding-top: 54px !important;
    }

    .collapsible1 {
        display: block !important;
        background-color: #555 !important;
    }

    .content1{
        background-color: rgb(105, 102, 102) !important;
        display: none;
    }

    nav{
        position: fixed !important;
        width: 100% !important;
    }

    button {
        flex-wrap: wrap !important;
        font-weight: bold !important;
    }

    .fa_menu {
        display: inline-block !important;
        float: left !important;
    }

    .icon_right {
        display: inline-block !important;
        float: right !important;
        padding-right: 10px !important;
    }

    .show_content {
        font-size: 25px !important;
    }

    
    
    .column_left{
        position: static !important;
        width: 100% !important;
        height: auto !important;
        
    }
    .column_right {
        position: static !important;
        width: 100% !important;
    }
    .content a{
        display: block !important;
        width: 100% !important;
        text-decoration: none !important;
        cursor: pointer !important;
    }
}

.column_right .right_content{
    height: 100% !important;
    padding: 20px !important;
    margin: 20px !important;
}

.column_right .path{
    text-align: left !important;
    margin: 0px !important;
    padding: 10px !important;
    font-size: 15px !important;
    color: blue !important;
}