.column_right .right_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.842);
  color: white;
}

.right_content * {
    box-sizing: border-box;
}

.right_content .body{
    background-color: #fff;
    margin: 0%;
    padding: 0%;
    font-size: 20px;
}


.right_content section{
    display: flex;
    flex-wrap: wrap;
}

.right_content .left{
    position: fixed;
    width: 20%;
    height: 100%;
    flex-direction: column;
    background-color : rgb(225, 216, 207);  
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_content .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.right_content .right{
    position: absolute;
    right: 0;
    width: 80%;
    height: 100%;
}

.right_content img{
    width: 80%;
    border-radius: 100%;
    border: 5px solid white;
  }

  .right_content .menu_list{
      list-style-type: none;
      text-align: center;
      padding: 0%;
  }

  .right_content .menu_list>li{
      margin: 8px;
  }
 
  .right_content .menu_list>li>a{
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-family: "Gill Sans", sans-serif;
  }

  .right_content .section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-height: 100%;
}

.right_content .title{
    background-color: rgb(55, 55, 65);
    margin: 12px;
    padding: 8px 8px 8px 25px;
    color: rgb(217, 217, 217);
    font-size: 17px;
  }

  .right_content .details_info{
    padding: 0px 35px;
    margin: 0px;
  }

  .right_content .contact_us li{
      padding: 3px;
  }

  .right_content .education li{
    padding-bottom: 4px;
  }

  .right_content .video{display: flex;
    align-items: center;
    justify-content: center;
  }

  .right_content video{
      width: 70%;
  }

  .right_content li{
      padding: 5px 0px;
  }

  .right_content button{
      display: none;
  }

  .right_content button::after{
      content: "";
      clear: both;
  }

  @media screen and (max-width:768px) {
    .right_content img{
          display: none;
      }
      .right_content .left{
        position: static;
        width: 100%;
        height: 100%;
        flex-direction: row;
        background-color : rgb(225, 216, 207);  
        display: inline;
        font-size: 20px;
      }
      .right_content .right{
        position: static;
        right: auto;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
      }

      .right_content .section{
        padding-top: 70px;
      }

      .right_content .nav{
        position: fixed;
        width: 100%;
      }
      
      .right_content .collapsible2 {
        background-color: #555;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        color: white;
        text-align: none;
        outline: none;
        font-size: 15px;
        position: fixed;
      }
      
      .right_content .content {
        padding: 60px 18px 18px 18px;
        overflow: hidden;
        display: none;
        background-color: rgb(225, 216, 207);
      }

      .right_content button{
          display: block;
          flex-wrap: wrap;
          font-weight: bold;
      }
      .right_content .fa_menu{
          display:inline-block;
          float: left;
      }
      .right_content .icon_right{
        display: inline-block;
        float: right;
        padding-right: 10px;
      }
  }